.topInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0, 0.7);
  font-size: 1.2rem;
}
.infoSmall {
  font-size: 1.15rem;
  color: rgb(0, 0, 0, 0.65);
}
.questionWrapper {
  font-size: 1.25rem;
  min-height: 200px;
}
.answerBtnWrap {
  display: flex;
  justify-content: center;
}
