.wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
}

.btnIcon {
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--color-text-secondary);
  background: var(--color-bg-primary);
  width: 28px;
}
.icon {
  width: 100%;
  height: 100%;
}
