.outer {
  height: 100%;
  border: 2px solid rgb(195, 228, 195);
  border-top: 16px solid rgb(195, 228, 195);
  border-bottom: 16px solid rgb(195, 228, 195);
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(133, 156, 133, 0.7);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.topWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0, 0.7);
  font-size: 1.2rem;
  & * {
    font-weight: 500;
  }
}

.infoSmall {
  font-size: 1.15rem;
  color: rgb(0, 0, 0, 0.6);
}

.mainWrap {
  font-size: 1.25rem;
  min-height: 200px;
}

.answerWrap {
  font-size: 1.6rem;
  padding-left: 30px;
  font-weight: 500;
}

.bottomWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.answerBtnWrap {
  cursor: pointer;
  background-color: inherit;
  height: 50px;
  border: none;
  &:hover {
    color: rgb(0, 0, 0, 0.9);
  }
}
.iconWrap {
  width: fit-content;
  padding: 0;
  margin: 0 auto;
  width: 32px;
  height: 32px;
}
.icon {
  height: 100%;
  padding: 0;
  z-index: 1;
}
