.listWrap {
  padding: 8px 0;
  list-style: none;
}

.questionWrap {
  border-bottom: 2px dashed rgba(97, 64, 53, 0.2);
  padding: 12px 8px;
  font-size: 1.1rem;
  overflow-y: auto;
  @media (prefers-color-scheme: dark) {
    border-bottom: 2px dashed rgb(50, 50, 50);
  }
}
.questionWrap:first-child {
  border-top: 2px dashed rgba(97, 64, 53, 0.2);
  @media (prefers-color-scheme: dark) {
    border-top: 2px dashed rgb(50, 50, 50);
  }
}
.questionLink {
  color: var(--color-text-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.iconWrap {
  flex: 0 0 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
.correctIcon {
  color: green;
}
.incorrectIcon {
  color: red;
}
