.cardWrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  flex-grow: 1;
  background: rgb(255, 248, 220);
  margin-bottom: 4px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 8px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: none;
  background: inherit;
  gap: 4px;
}
.btnWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.icon {
  width: 100%;
  height: 100%;
}
.iconWrap {
  margin-top: 4px;
  height: 56px;
  width: 56px;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid black;
  display: block;
  &:hover {
    background: rgb(195, 228, 195);
  }
}
