.outer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(223, 221, 221);
  @media (prefers-color-scheme: dark) {
    background: black;
  }
}

.inner {
  width: 100%;
  height: 100%;
  max-width: 480px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-primary);
  position: relative;
  @media (min-width: 768px) {
    padding: 24px 32px;
  }
}
.navbar {
  display: flex;
  align-items: center;
  flex: 0 0 30px;
}
.content {
  flex: 1 1 auto;
  overflow-y: auto;
}
